.titlebar{
    border: 20px;
    background-color: cadetblue;
}
/*Homepage Styles*/
#homepage{
    background-color: rgb(217, 174, 118);
}
#studentID{
    height: 400px;
    width: auto;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    border-color: rgb(97, 147, 97);
}

/*Blog Styles*/