* {
    font-family: monospace;
    font-size: 100%;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 15px;
}
/*Navigation bar Styles*/
.navbar{
    background-color: cadetblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li a{
    display: block;
    color: rgb(251, 222, 183);
    padding: 15px 15px;
    text-decoration: none;
}
.navbar li a:hover{
    background-color: rgb(82, 202, 170);
}
/*Homepage Styles*/
#homepage,
#indexpage,
#aboutmepage{
    background-color: rgb(255, 233, 205);
}
#homepage section,
#indexpage section,
#aboutmepage section{
    color: rgb(238, 219, 217);
}
#studentID{
    width: 45%;
    height: auto;
    border: 5px solid transparent;
    border-radius: 25px;
    border-color: rgb(97, 147, 97);
}

#Hpage1{
    background-color: cadetblue;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
#Hpage1 div{
    margin: 10px;
    flex: 0 0 auto;
    width: 45%;
}

#Hpage2{
    background-color: rgb(160, 103, 95);
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#Hdiv1{
    margin: 10px;
    flex: 0 0 auto;
    width: 30%;
}
/*Blog Styles*/
#Bpage1 div{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(160, 103, 95);
}
#amprt1{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(251, 222, 183);
    background-color: indianred;
}
#amprt2{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(251, 222, 183);
    background-color: indianred;
}
#amprt3{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(251, 222, 183);
    background-color: indianred;
}
#amprt4{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(251, 222, 183);
    background-color: indianred;
}
#amprt5{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(251, 222, 183);
    background-color: indianred;
}
#amprt6{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(251, 222, 183);
    background-color: indianred;
}
#amprt7{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(251, 222, 183);
    background-color: indianred;
}